@font-face {
    font-family: "Osake";
    src: url("../font/Osake.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
};

$used-font: "Osake";

$custom-colors: (
    "custom-primary": #AEB89F,
    "custom-secondary": #4B6653,
    "custom-error": #e84141
);
$image-url: "../img/6b60e56eadc2fe9793a5d6dbe1e07b5a.jpg";