@import "./bootstrap/functions";
@import "./bootstrap/variables.scss";

@font-face {
    font-family: "Osake";
    src: url(../font/Osake.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

$custom-colors: (
    "firstcolor": #88A58F,
    "secondcolor": #a1bd8d
);
$theme-colors: map-merge($theme-colors, $custom-colors);

$custom-display-font-size:(
    custom: 7rem
);
$display-font-sizes: map-merge($display-font-sizes, $custom-display-font-size);
$display-font-family: "Osake";


body{
    background: {
        image: url("../img/6b60e56eadc2fe9793a5d6dbe1e07b5a.jpg");
        size: cover;
        position: center;
        repeat: no-repeat;
    }
    height : 100vh;
    margin: 0;
}


@import "bootstrap/bootstrap.scss";