@import "./bootstrap/functions";
@import "./bootstrap/variables.scss";

$custom-colors: (
    "firstcolor": #88A58F,
    "secondcolor": #a1bd8d
);
$theme-colors: map-merge($theme-colors, $custom-colors);

body{
    background: {
        image: url("../img/6b60e56eadc2fe9793a5d6dbe1e07b5a.jpg");
        size: cover;
        position: center;
        repeat: no-repeat;
    }
    height : 100vh;
    margin: 0;
}


@import "bootstrap/bootstrap.scss";